In [ ]:
str1 = ”str1”

In [ ]:
str1 = str("str1")
print(str1)

In [ ]:
print(type(10))

In [ ]:
print(bool(0), bool(3.14159), bool(-3), bool(1.0+1j))

In [ ]:
print(type([]) is list)

In [ ]:
p, q, r = 10, 20 ,30
print(p, q, r)

In [ ]:
a = [10, 20]
b = a
b += [30, 40]
print(a)
print(b)

In [ ]:
print(2%6)

In [ ]:
print(bool(0), bool(3.14159), bool(-3), bool(1.0+1j))

In [ ]:
print(-18 // 4)

In [ ]:
print(2 ** 3 ** 2)

In [ ]:
a = 4
b = 11
print(a | b)
print(a >> 2)

In [ ]:
print(36 / 4)

In [ ]:
y = 10
x = y += 2
print(x)

In [ ]:
print(2 * 3 ** 3 * 4)

In [ ]:
print(10 - 4 * 2)

In [ ]:
x = 6
y = 2
print(x ** y)
print(x // y)

In [ ]:
a, b = 12, 5
if a + b:
    print('True')
else:
  print('False')

In [ ]:
x = 0
a = 0
b = -5
if a > 0:
    if b < 0: 
        x = x + 5 
    elif a > 5:
        x = x + 4
    else:
        x = x + 3
else:
    x = x + 2
print(x)

In [ ]:
x = 0
a = 5
b = 5
if a > 0:
    if b < 0: 
        x = x + 5 
    elif a > 5:
        x = x + 4
    else:
        x = x + 3
else:
    x = x + 2
print(x)

In [ ]:
a= float(input("Enter marks : "))
if a<25:
    print("F")
elif a<45:
    print("E")
elif a<50:
    print("D")
elif a<60:
    print("C")
elif a<80:
    print("B")
else:
    print("A")

In [ ]:
marks = float(input("Enter your marks: "))

# Determine the grade based on the marks
if marks < 25:
    grade = 'F'
elif marks < 45:
    grade = 'E'
elif marks < 50:
    grade = 'D'
elif marks < 60:
    grade = 'C'
elif marks < 80:
    grade = 'B'
else:
    grade = 'A'

# Print the corresponding grade
print("Your grade is:", grade)

In [ ]:
a=float(input("Enter the amount : "))
b=a/10
print("Total cost for user :",b)

In [ ]:
quantity = int(input("Enter the quantity of items purchased: "))
unit_cost = 100  
total_cost = quantity * unit_cost

if total_cost > 1000:
    discount = 0.1 * total_cost
    total_cost -= discount

print("Total cost:", total_cost)

In [ ]:
a = int(input("INPUT : "))
absolute_value = abs(a)
print("OUTPUT :" ,absolute_value)

In [ ]:
number = float(input("Enter a number: "))

# Calculate the absolute value of the number
absolute_value = abs(number)

# Print the absolute value
print("The absolute value of", number, "is", absolute_value)

In [ ]:
a = input(" String: ")
letters = 0
digits = 0
for x in a:
    if x.isalpha():
            letters += 1
    elif x.isdigit():
            digits += 1
print("Letters:", letters)
print("Digits:",  digits)

In [ ]:
string = input("Enter a string: ")

# Initialize counters for letters and digits
num_letters = 0
num_digits = 0

# Iterate through each character in the string
for char in string:
    # Check if the character is a letter
    if char.isalpha():
        num_letters += 1
    # Check if the character is a digit
    elif char.isdigit():
        num_digits += 1

# Print the counts of letters and digits
print("Letters:", num_letters)
print("Digits:", num_digits)

In [ ]:
alphabet= input("Enter a alphbet : ")
alphabet = alphabet.lower()
if len(alphabet) == 1 and  alphabet.isalpha():
    
        if alphabet in ['a','e','i','o','u']:
            print(alphabet,"Alphabet is a vowel ")
        else:
            print(alphabet,"alphabet is a consonant ")
else:
    print(" Single letter of the alphabet.")

In [ ]:
# Ask the user to input a letter of the alphabet
letter = input("Input a letter of the alphabet: ")


letter = letter.lower()

if len(letter) == 1 and letter.isalpha():
   
    if letter in ['a', 'e', 'i', 'o', 'u']:
        print(letter, "is a vowel.")
    else:
        print(letter, "is a consonant.")
else:
    print("Please input a single letter of the alphabet.")

In [ ]:
x = float(input("x: "))
y = float(input("y: "))
z = float(input("z: "))

if x + y > z and x + z > y and y + z > x:
   
    if x == y == z:
        print("Equilateral triangle")
   
    elif x == y or x == z or y == z:
        print("Isosceles triangle")
    
    else:
        print("Scalene triangle")
else:
    print("The given lengths do not form a valid triangle.")

In [ ]:
a = float(input("Enter 1st number: "))
b = float(input("Enter 2nd number: "))
c = float(input("Enter 3rd number: "))

if a >= b and a >= c:
    largest = a
elif b >= a and b >= c:
    largest = b
else:
    largest = c

print("The largest number is:", largest)

In [ ]:
x = 0
while (x < 100):
  x+=2
print(x)

In [ ]:
a = 'geeksforgeeks'
i = 0
  
while i < len(a): 
    i += 1
    pass
    
print('Value of i :', i)

In [ ]:
count = 0
while (count <= 3): 
    count = count + 1
    print("Hello Geek")

In [ ]:
i = 0
a = 'geeksforgeeks'
  
while i < len(a): 
    if a[i] == 'e' or a[i] == 's': 
        i =i+ 1
        continue
    else:     
        print('Current Letter :', a[i]) 
    i += 1

In [ ]:
i = 0
while i < 4: 
    i += 1
    print(i) 
else:  # Executed because no break in for 
    print("No Break\n")

In [ ]:
i = 0
while i < 4: 
    i += 1
    print(i) 
    break
else:  # Not executed as there is a break 
    print("No Break")

In [ ]:
a = int(input('Enter a number (-1 to quit): ')) 

while a != -1: 
	a = int(input('Enter a number (-1 to quit): '))

In [2]:
i=0
while i<100:
    a=float(input("Enter a number : "))
    i +=a 
print("Sum of numbers has exceeded 100. Exiting loop.")

Enter a number : 67
Enter a number : 78
Sum of numbers has exceeded 100. Exiting loop.

In [1]:
sum_of_numbers = 0

while sum_of_numbers < 100:
    num = float(input("Enter a number: "))
    sum_of_numbers += num

print("Sum of numbers has exceeded 100. Exiting loop.")

Enter a number: 66
Enter a number: 88
Sum of numbers has exceeded 100. Exiting loop.

In [2]:
total = 0
for i in range(10):
    num = int(input("Enter an integer: "))
    total += num  
average = total / 10
print("The average of the 10 integers is:", average)

Enter an integer: 1
Enter an integer: 3
Enter an integer: 7
Enter an integer: 8
Enter an integer: 9
Enter an integer: 8
Enter an integer: 7
Enter an integer: 7
Enter an integer: 8
Enter an integer: 4
The average of the 10 integers is: 6.2

In [3]:

for i in range(1, 5):
    print('*' * i)

*
**
***
****

In [5]:

for i in range(1, 4):
    print(' ' * (3 - i) + '*' * (2 * i - 1))
for i in range(2, 0, -1):
    print(' ' * (3 - i) + '*' * (2 * i - 1))

  *
 ***
*****
 ***
  *

In [12]:

for i in range(4):
    print(' ' * i + '10' * (4 - i-1)+ '1' )

1010101
 10101
  101
   1

In [6]:
for i in range(4):
    print(' ' * i + '101' + '0' * (4 - i - 1) + '1')

1010001
 101001
  10101
   1011

In [13]:
def print_multiplication_table(num):
    for i in range(1, 11):
        print(num * i)
num = 2
print_multiplication_table(num)

2
4
6
8
10
12
14
16
18
20

In [14]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

for num in list1:
    if num > 150:
        break
    if num % 5 == 0:
        print(num)

15
55
75
150

In [15]:
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [17]:
for i in range(5):
    print(i)

print("Done!")

0
1
2
3
4
Done!

In [18]:
for i in range(5, 0, -1):  
    for j in range(i, 0, -1):  
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1